*.txt
*.nc
environment.sh
base_dir.sh
data/
Outputs/
logs/
results/
*.json
*.csv
.paths.yaml
*.log
*.pth
*.pt
*.wandb
*.h5
*.pyc
*.npz
__pycache__/
*.png
*.jpg
#zarr files
*.zarr
Model_Runs/
Training_Chronological_Dataset/
Combined_Chronological_Dataset/
BC_methods/config.py
#pycache
__pycache__/
*.txt
*.nc
environment.sh
base_dir.sh
*.png
*.npz
logs/
*.csv
*.json
*.h5
*.pth
*.pt
*.pkl
*.log
*.pyc
__pycache__/
Outputs/
logs/
models_UNet/config.py
directories.py
.micromamba
diffscaler.sh
wandb/
*.ckpt
outputs/
results/
data/
*.zarr
*.hydra
Training_LDM/trained_ckpts/
BC_Model_Runs/
BC_methods/BC_Model_Runs/
*.png
*.jpg
Training_Dataset_50km_SR_1971_2020/
LDM_conditional/paths.py
DDIM_conditional_derived/paths.py
*.log
*.pth
*.pt
*.joblib
._*.DS_Store
.DS_Store
